@import 'variables';
@import 'footer';
@import 'box';

body {
  background: #f3f3f3;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1200px;
  }

  .banner {
    margin: 0 auto;
    width: 1200px;
  }
}

.no-gutter > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

$status-colors: (

  red: #f10e34,
  white: #fff,
  dark: #1f1e1e,
  light-dark: #222
);

.bg {

  @each $status, $color in $status-colors {

    &-#{$status} {

      background: $color;
    }
  }
}

.glyphicon-star,
.glyphicon-star-empty {
  color: #ffc808;
}

.glyphicon-user {
  color: #fff;
  padding: 5px;
}

/* Navbar */

.navbar-top {
  border-radius: 0;
  margin-bottom: 0;

  .navbar-toggle 
  {
    margin: 30px 0;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
}

.navbar-bottom {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.navbar-form .shoppuing-cart {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.navbar-form .price-cart {
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #fff;
  cursor: default;
}

.navbar-custom li {
  color: #fff;
  padding-right: 10px;
}

form {
  .glyphicon-search {
    color: #fff;
  }

  .btn-default {
    border: 1px solid #f10e34;
    padding: 6px;
  }

  .input-group {
    width: auto;
    margin-right: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 48em) {

  form .input-group {
    width: 45%;
    margin-right: 10px;
    margin-top: 10px;
  }
}
/* End Navbar */

/* Start Jumbotron */

.banner-bg {
  margin-bottom: 20px;
  color: #fff;

  .jumbotron {
    background: url('../images/01.jpg') no-repeat;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .feature-bar--title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .feature-bar--desc {
    font-size: 15px;
    margin-bottom: 17px;
    text-transform: none;
  }

  .btn-primary {
    background: transparent;
    border: 2px solid #000;
    border-radius: 0;
    color: #000;
    margin: 20px 0;
  }

  .header-title {
    color: #303a7a;
    font-size: 36px;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .subtitle {
    text-shadow: 3px 2px rgba(0, 0, 0, 0.2);

    span {
      font-size: 55px;
      font-weight: 900;
    }
  }
}

/* End Jumbotron */

/* Start left menu */

.menu-content {
  padding: 0 12px;

  li {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 10px;
  }

  li a {
    color: #333;
    font-size: 15px;
    text-decoration: none;

    span {
      color: #a6a6a6;
      padding-right: 18px;
    }
  }
}

/* End left menu */

.product {
  padding: 15px;
  margin-bottom: 20px;

  img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: red;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
  }
}

.product-figure {
  margin: 0;
  padding: 15px;

  figcaption {
    padding: 20px 0 0;
  }
}

.sidebar-left-btn {
  background: #f22f43;
  border: 1px solid #f10e34;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 23px;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active:hover {
    background: #222;
    border: none;
  }
}

.siderbar-left {
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
/*  width: 285px;
  height: auto;
  border: 3px solid #73AD21;*/

  img {
    width: 100%;
  }

  .form-group {
    margin-bottom: 24px;

    label {
      color: #3d3d3d;
      font-size: 15px;
      font-weight: 100;
      margin-bottom: 23px;
    }

    .form-control {
      background: #f3f3f3;
      border: none;
      height: 44px;
    }
  }

  .sidebar-figure {
    padding: 15px 0;

    figcaption {
      padding: 15px;
    }
  }
    .slick-next:before {
    color: red;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
  }

  .slick-prev:before {
    color: red;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
  }
}


@media (min-width: 48em) {

  .siderbar-left {
  .slick-prev {
    color: black;
    left: 77%;
  }

  .slick-prev,
  .slick-next {
    right: 10px;
    top: -16%;
  }
}
}

@media (min-width: 48em) {
.product {
  .slick-prev {
    color: black;
    left: 93%;
  }

  .slick-prev,
  .slick-next {
    right: 10px;
    top: -18%;
  }
}
}


@mixin style($color, $font-size, $font-weight) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

.product-title {
  @include style(#000, 21px, bold);
  margin-top: 10px;
}

.product-desc {
  @include style(#3d3d3d, 15px, normal);
}

.product-price {
  @include style(#636363, 15px, normal);
  .discount {
    color: #000;
    font-weight: bold;
    padding-left: 10px;
  }
}

.full-width-banner {
  @include style(#000, 18px, 900);
  vertical-align: middle;

  .full-width--title {
    font-weight: 900;
  }

  .full-width--subtitle {
    color: #0f8ced;
  }
}

.clearfix {
  padding: 20px;
}

.categories-tab {
  margin-right: 68px;

  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    background-color: transparent;
    color: #f10e34;
  }

  .nav-pills > li.active > a {
    background-color: transparent;
    color: #3d3d3d;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
  }

  a {
    color: #3d3d3d;
    font-size: 15px;
  }
}

.breand {
  padding-bottom: 40px;
  padding-top: 40px;

  ul > li {
    padding-right: 30px;
  }
}

.navbar-breand-top {
  height: 100px;
}
